<%- include('./partials/header.ejs') %>
    <section>
        <h2>About</h2>
        <p>Gamers stop is the place where you can trade all kinds of consoles and games including
            various categories like Action, Mind games, Shooter, Multi-player and so on., 
            with other traders..
        </p>
    </section>
<%- include('./partials/footer.ejs') %>