<%- include('./partials/header.ejs') %>
    <section>
        <h2>Contact</h2>
        <h5>&copy; GAMERS STOP Corp</h5>
        <p>Hemanth Kumar Anumolu</p>
        <p>801311132</p>
        <p>hanumolu@uncc.edu</p>
    </section>
<%- include('./partials/footer.ejs') %>