<%- include('./partials/header.ejs') %>
    <section class="main-content">
        <h2>Welcome to the GAMERS STOP website!</h2>
        <p>You can find all categories of Games for Amazing deals here..<br>
        try checking our new arrivals <a href="/trades">here</a></p>
    </section>
<%- include('./partials/footer.ejs') %>